* {
  margin: 0;
  padding: 0;
}



/* HEADER SECTION */
/* HEADER SECTION */
/* HEADER SECTION */

.header {
  height: 120px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transform: scale(1.5);
  margin: 41px 0 auto 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
  font-size: 20px;
  list-style: none;
  font-weight: 700;
  margin-right: 2vw;
}

li:nth-child(5) {
  white-space: nowrap;
}



/* HERO SECTION */
/* HERO SECTION */
/* HERO SECTION */

.hero-section {
  background-color: #495e57;
}

.hero {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hero-text h2 {
  font-size: 40px;
  color: #F4CE14;
  font-family: serif;
  padding: 50px 0 0 20px
}

.hero-text h4 {
  font-size: 24px;
  color: white;
  font-weight: 500;
  padding: 0 0 15px 20px;
}

.hero-text p {
  color: white;
  font-size: 20px;
  width: 300px;
  padding: 0 0 10px 20px
}

.hero-text button {
  font-weight: 700;
  background-color: #F4CE14;
  padding:  15px 30px;
  border-radius: 16px;
  margin: 30px;
  border: none;
}

.hero img {
  width: 400px;
  height: 500px;
  overflow: clip;
  position: relative;
  top: 50px;
  border-radius: 16px;
}



/* RESERVATION */
/* RESERVATION */
/* RESERVATION */



.reserv .title {
  background-color: #495e57;
  padding: 30px;
}

.reserv h1 {
  max-width: 900px;
  margin: auto;
  color: #F4CE14;
}

/* BOOKINGFORM */

.BookingForm {
  width: 500px;
  margin: 20px auto;
  color: #495e57;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.BookingForm input, .BookingForm select {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: solid 2px #495e57;
}

.BookingForm .submit {
  color: #495e57;
  background-color: #F4CE14;
  border: none;
  font-size: large;
  cursor: pointer;
}

.BookingForm .submit:hover {
  opacity: 0.85;
}

.BookingForm span {
  color: red;
  margin: -12px 0 20px 0;
  font-size: 18px;
  display: none;
}

.BookingForm .nGuests:invalid {
  border: solid 2px red
}

.BookingForm .nGuests:invalid ~ span{
  display: block;
}



/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
  background-color: #495e57;
  color: white;
  font-size: 18px;
}

footer .all {
  max-width: 900px;
  height: 320px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  gap: 5px;
  list-style: none;
}

footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

footer li {
  padding-top: 8px;
}